.gradient-custom {
    /* fallback for old browsers */
    background: #6c6f70;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(58, 60, 75), rgb(183, 201, 231));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(58, 60, 75), rgba(183, 201, 231))
    }